
/*--------------------------- Elements ---------------------------*/
a:hover,
a:focus {
    color: #e1576c;
}

body {
    font-family: Anton;
}

hr {
    border-top: 1px solid #464646;
}

.btn-primary {
    color: #ffffff;
    background-color: #5a2c61;
    border-color: #5a2c61;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e1576c;
    border-color: #e1576c;
}

/*--------------------------- Nav ---------------------------*/

.navbar-inverse {
	background-color:rgba(70, 70, 70, .49)!important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
}

.navbar-inverse .navbar-nav>li>a {
   font-size:25px; 
   color:#ffffff; 
   text-align: center;
   padding: 15px;
   text-shadow: -1px 0 20px #464646, 0 1px 20px #464646, 1px 0 20px #464646, 0 -1px 20px #464646;
}

.navbar-inverse .navbar-nav>li>a:hover {
   color:#f5c7ca; 
   text-shadow: -1px 0 20px #464646, 0 1px 20px #464646, 1px 0 20px #464646, 0 -1px 20px #464646;
}

.navbar-inverse .navbar-nav>li>a:focus {
   color:#f5c7ca; 
   text-shadow: -1px 0 20px #464646, 0 1px 20px #464646, 1px 0 20px #464646, 0 -1px 20px #464646;
}

.navbar-nav { 
   margin:40px 0;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent!important;
}

.container-fluid > .navbar-header {
    height: 130px;
}

/*--------------------------- Footer ---------------------------*/

#footer {
    background-color: #464646;
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 50px;
}

.social li a i {
    width:32px;
    height: 32px;
    padding: 12px 0;
    border-radius:  50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    margin-bottom: 5px;
    color: #ffffff;
    background: #8f8f8f;
     -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social li a i:hover {
    color: #5a2c61;
    background: #a6e1e9;
}

.footer-headings {
    color: #f5c7ca;
}

#footer-register-bt {
    color: #f5c7ca;
}

#footer-register-bt:hover {
    color: #a6e1e9;
}

/*--------------------------- Homepage ---------------------------*/

#bg-video {
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height: auto;
    background-size: cover;
    z-index: -1;
    vertical-align: middle;
}

.bg-video-filter {
			-webkit-filter: grayscale(1) saturate(1) opacity(1);
}

.video-container {
  position: relative;
}


.overlay {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px!important;
}

#overlay-text {
  color: #f5c7ca;
  font-size: 0px;
  text-align: center;
  text-shadow: -1px 0 20px #464646, 0 1px 20px #464646, 1px 0 20px #464646, 0 -1px 20px #464646;
  padding:5px;
  letter-spacing: 10px;
}

.card-size {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #888888;
}

.card {
    margin-bottom: 20px;
}

.container-headings {
    margin-bottom: 35px;
    margin-top: 35px;
}

.about-container-heading {
    margin-bottom: 35px;
}

.card-title {
  padding:20px;
  font-size: 25px;
  color: #5a2c61; 
}

.card-text {
  padding-bottom:20px;
  color:#464646
}

.media-container {
    margin-bottom: 35px;
}

.tours-container {
    background-color: #da98a1;
    margin-bottom: 35px;
    background: -webkit-linear-gradient(left top, #e1576c, #edb9bc);
    padding-bottom: 35px;
}

.about-container {
    margin-bottom: 35px;
}

#tours-image {
    width: 350px;
    height: 350px;
    padding: 20px;
}

.tour-text {
    padding-bottom: 15px;
    padding-top: 15px;
}

#tour-info-bt {
    color: #ffffff;
    font-size: 20px;
    text-decoration: underline;
}

#tour-info-bt:hover {
    color: #5a2c61;
    
}

#media-header {
    color: #5a2c61; 
}

#media-header:hover {
   color: #ffffff; 
   text-shadow: -1px 0 20px #5a2c61, 0 1px 20px #5a2c61, 1px 0 20px #5a2c61, 0 -1px 20px #5a2c61;
   text-decoration: none;
}

#tour-header {
    color: #ffffff; 
}

#tour-header:hover {
   color: #e1596d; 
   text-shadow: -1px 0 20px #ffffff, 0 1px 20px #ffffff, 1px 0 20px #ffffff, 0 -1px 20px #ffffff;
   text-decoration: none;
}

#about-header {
    color: #464646; 
}

#about-header:hover {
   color: #FFFFFF; 
   text-shadow: -1px 0 20px #464646, 0 1px 20px #464646, 1px 0 20px #464646, 0 -1px 20px #464646;
   text-decoration: none;
}

#about-hp-image {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px #888888;
}

.about-span {
    font-size: 25px;
    color: #5a2c61;
}

.about-hp-text {
    font-size: 16px;
    line-height: 33px;
    padding: 20px 0px;
}

/*--------------------------- Media Page ---------------------------*/

.media-pg-container {
    margin-top: 170px!important;
    margin-bottom: 35px;
}

.tab-content {
    height: auto;
    margin-top: 50px;
}

#ul-nav {
    padding-left: 0px!important;
}

#gallery-thumbnail-img {
    margin: 20px 0px;
    width: auto;
    height: 160px;
    box-shadow: 5px 5px 10px #888888;
    padding: 0px;
    border-radius: 10px;
    border:0px;
}

.tab-title {
    color: #5a2c61;
    font-size: 20px;
}

.media-video-container {
    padding: 40px;
}

.audio-div {
    margin-bottom:70px;
}

.video-div {
    margin-bottom:70px;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #5a2c61;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #5a2c61;
}

.nav-tabs.nav-justified>li>a:hover,
.nav-tabs.nav-justified>li>a:focus{
    background-color: #FFFFFF;
    border-color: #f5c7ca;
}

/*--------------------------- Tours Page ---------------------------*/

.panel-heading {
    padding: 20px 30px;
}

.panel-title > a {
    font-size: 22px;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #5a2c61;
    border-color: #5a2c61;
    border-radius:10px;
}

.panel-primary {
    border-color: #ffffff;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ffffff00;
}

/*--------------------------- Media Queries ---------------------------*/

@media only screen and (min-width: 576px) {

  #overlay-text {
  font-size: 50px;
}

}

@media only screen and (min-width: 768px) {

  #overlay-text {
  font-size: 110px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#gallery-thumbnail-img {
    height: 230px;
}

}


