
<div class="video-container">  
  <video id="bg-video" class="bg-video-filter" autoplay muted>
    <source src="media/videos/kol-hp-video.mp4" type="video/mp4"/>
  <img id="bg-image" src="media/images/kol-caleb-image.jpg" />
  </video> 



  <div class="overlay">
        <h1 id="overlay-text">KINGS OF LEON</h1>
     </div>
</div>


<div class="container-fluid media-container">
    <h2 class="text-center container-headings"><a href="#" id="media-header">MEDIA</a></h2>
    <div class="row text-center">
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-eyes.jpg">
          <div class="card-block">
            <h4 class="card-title">AUDIO</h4>
            <p class="card-text">Listen to some of Kings Of Leon's greatest hits on mp3. Choose from our audio selection.</p>
            <a href="#" class="btn btn-primary">Go To Audio</a>
          </div>
        </div>
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-heads.jpg">
          <div class="card-block">
            <h4 class="card-title">GALLERY</h4>
            <p class="card-text">Check out some photos of the band playing live. There are some amazing shots of them on stage and off.</p>
            <a href="#" class="btn btn-primary">Go To Gallery</a>
          </div>
        </div>
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-skull.jpg">
          <div class="card-block">
            <h4 class="card-title">VIDEO</h4>
            <p class="card-text">Kings of Leon are known for their iconic videos. Check out some of their top hits in this section. </p>
            <a href="#" class="btn btn-primary">Go To Videos</a>
          </div>
        </div>
    </div>
</div>



<div class="container-fluid tours-container">
    <h2 class="text-center container-headings"><a href="#" id="tour-header">TOURS</a></h2>
      <div class="row featurette">
        <div class="col-md-7 tour-text text-center">
          <h2 class="featurette-heading">KINGS OF LEON ARE ON TOUR. <span style="color:#5a2c61"> A MUST SEE!</span></h2>
          <p class="lead"> Kings of Leon are starting their new tour "walls".
              Famous for their outstanding shows and unbelievable preformances, 
              they are playing over 500 concerts across 30 countries this year.
              Witness the band perform live, playing hit tracks like "Waste a Moment","Reverend" 
              and "Around the World".
          </p>
          <p class="lead">
            With tickets sales starting soon, hurry up and check their tours dates and locations
            to see if they're playing near you!
          </p>
          <button type="button" class="btn btn-link" id="tour-info-bt">Continue to Tour Info</button>
        </div>
        <div class="col-md-5 text-center">
          <img id="tours-image" class="featurette-image" src="media/images/kol-faces.png">
        </div>
      </div>
</div>

<div class="container-fluid about-container">
    <h2 class="text-center container-headings"><a href="#" id="about-header">ABOUT</a></h2>
      <div class="row featurette">
        <div class="col-md-12 text-center">
          <img class="img-fluid" id="about-hp-image" src="media/images/kol-hp-about.jpg">
        </div>
        <article class="col-md-10 col-md-offset-1 text-center">
          <h4 class="about-hp-text">Kings of Leon is an American rock band that formed in <span class="about-span">Nashville</span>, 
          Tennessee, in 1999. The band is composed of brothers Caleb Followill, Nathan Followill 
          and Jared Followill, with their cousin Matthew Followill.
          The band's early music was a blend of <span class="about-span">Southern Rock</span> and blues influences, but it has gradually 
          expanded throughout the years to include a variety of genres and a more alternative, arena rock sound. 
          Kings of Leon achieved initial success in the United Kingdom with nine Top 40 singles, two BRIT Awards
          in 2008, and all three of the band's albums at the time peaked in the top five of the UK Albums Chart.
          Their third album, Because of the Times, also reached the number one spot. After the release of Only by
          the Night in September 2008 the band achieved chart success in the United States. The singles <span class="about-span">"Sex on Fire"</span>,
          "Use Somebody", and "Notion" all peaked at number one on the Hot Modern Rock Tracks chart. </h4>
        </article>
        
      </div>
</div>


  




