<div id="overlay">
  <video id="bg-video" autoplay muted poster="media/images/kol-bg.jpg">
    <source src="media/videos/Kings Of Leon BGV.mp4" type="video/mp4"/>
  </video> 
</div>

<div class="container-fluid media-container">
    <h2 class="text-center container-headings"><a href="#">MEDIA</a></h2>
    <div class="row text-center">
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-eyes.jpg">
          <div class="card-block">
            <h4 class="card-title">VIDEO</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go To Videos</a>
          </div>
        </div>
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-heads.jpg">
          <div class="card-block">
            <h4 class="card-title">GALLERY</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go To Gallery</a>
          </div>
        </div>
        <div class="card col-sm-4">
          <img class="card-img-top card-size" src="media/images/kol-skull.jpg">
          <div class="card-block">
            <h4 class="card-title">AUDIO</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go To Audio</a>
          </div>
        </div>
    </div>
</div>



<div class="container-fluid tours-container">
    <h2 class="text-center container-headings"><a href="#">TOURS</a></h2>
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Kings Of Leon are on Tour. <span class="text-muted"> A must see.</span></h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
          dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et
          accumsan et iusto odio dignissim qui blandit praesent luptatum
          zzril delenit augue duis dolore te feugait nulla facilisi.
          Nam liber tempor cum soluta nobis eleifend option congue
          nihil imperdiet doming id quod mazim placerat facer possim
          assum. Typi non habent claritatem insitam; est usus legentis
          in iis qui facit eorum claritatem. Investigationes
          demonstraverunt lectores legere me lius quod ii legunt saepius.
          Claritas est etiam processus dynamicus, qui sequitur mutationem
          consuetudium lectorum. Mirum est notare quam littera gothica,
          quam nunc putamus parum claram, anteposuerit litterarum formas
          humanitatis per seacula quarta decima et quinta decima. Eodem
          modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
          in futurum.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" id="tours-image" src="media/images/kol-bg.jpg">
        </div>
      </div>
</div>
