<div class="container media-pg-container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li class="nav-item">
                <a class="nav-link active tab-title" data-toggle="tab" href="#audio-tab" role="tab">AUDIO</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link tab-title" data-toggle="tab" href="#gallery-tab" role="tab">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tab-title" data-toggle="tab" href="#video-tab" role="tab">VIDEO</a>
              </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="audio-tab" role="tabpanel">home</div>
                
                <div class="tab-pane" id="gallery-tab" role="tabpanel">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="image in gallery track by $index">
                                <div class="img-fluid">
                                    <img src="{{ image }}" class="img-thumbnail" id="gallery-thumbnail-img">
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
                
                <div class="tab-pane" id="video-tab" role="tabpanel">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <div class="col-xs-12 embed-responsive embed-responsive-16by9">
                                <video  controls="controls" muted>
                                    <source src="media/videos/Kings Of Leon BGV.mp4" type="video/mp4"/>
                                </video> 
                            </div>
                            <div class="col-xs-12 embed-responsive embed-responsive-16by9">
                                <video  controls="controls" muted>
                                    <source src="media/videos/Kings Of Leon BGV.mp4" type="video/mp4"/>
                                </video> 
                            </div>
                            <div class="col-xs-12 embed-responsive embed-responsive-16by9">
                                <video  controls="controls" muted>
                                    <source src="media/videos/Kings Of Leon BGV.mp4" type="video/mp4"/>
                                </video> 
                            </div>
                            <div class="col-xs-12 embed-responsive embed-responsive-16by9">
                                <video  controls="controls" muted>
                                    <source src="media/videos/Kings Of Leon BGV.mp4" type="video/mp4"/>
                                </video> 
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>