<div class="container media-pg-container">
    <h1 class="text-center container-headings" style="color: #e1576c">TOURS</h1>
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#" data-toggle="collapse" data-target="#collapse1" data-parent="#accordian">
                    NORTH AMERICA
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-6">
                     <ul>
                        <li>New York - 23/10/17</li>
                        <li>Florida - 24/10/17</li>
                        <li>Texas 25/10/17</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                     <ul>
                        <li>Toronto - 26/10/17</li>
                        <li>Ottawa - 28/10/17</li>
                        <li>Mexico City - 30/10/17 </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#" data-toggle="collapse" data-target="#collapse2" data-parent="#accordian">
                    EUROPE
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-6">
                     <ul>
                        <li>Paris - 23/11/17</li>
                        <li>Rome - 24/11/17</li>
                        <li>Madrid 25/11/17</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                     <ul>
                        <li>London - 26/11/17</li>
                        <li>Ireland - 28/11/17</li>
                        <li>Brussels - 30/11/17 </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#" data-toggle="collapse" data-target="#collapse3" data-parent="#accordian">
                    ASIA
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-6">
                     <ul>
                        <li>Hong Kong- 23/1/18</li>
                        <li>Tokyo - 24/1/18</li>
                        <li>Kuala Lumpur - 25/1/18</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                     <ul>
                        <li>Seoul - 26/1/18</li>
                        <li>Beijing - 28/1/18</li>
                        <li>New Delhi - 30/1/18 </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#" data-toggle="collapse" data-target="#collapse4" data-parent="#accordian">
                    SOUTH AMERICA
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-6">
                     <ul>
                        <li>New York - 23/10/17</li>
                        <li>Florida - 24/10/17</li>
                        <li>Texas 25/10/17</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                     <ul>
                        <li>Toronto - 26/10/17</li>
                        <li>Ottawa - 28/10/17</li>
                        <li>Mexico City - 30/10/17 </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#" data-toggle="collapse" data-target="#collapse5" data-parent="#accordian">
                    AFRICA
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-sm-6">
                     <ul>
                        <li>Cairo - 23/11/17</li>
                        <li>Dakar - 24/11/17</li>
                        <li>Tripoli - 25/11/17</li>
                    </ul>
                    </div>
                    <div class="col-sm-6">
                     <ul>
                        <li>Maputo - 26/11/17</li>
                        <li>Lusaka - 28/11/17</li>
                        <li>Rabat - 30/11/17 </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>