<div class="container media-pg-container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#panel-body-1" data-toggle="collapse" data-parent="#accordian">
                    NORTH AMERICA
                    </a>
                </h4>
            </div>
            <div id="panel-body-1" class="panel-collapse collapse">
                <div class="panel-body">
                     <ul>
                        <li>USA</li>
                        <li>Canada</li>
                        <li>Mexico</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#panel-body-2" data-toggle="collapse" data-parent="#accordian">
                    EUROPE
                    </a>
                </h4>
            </div>
            <div id="panel-body-2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>USA</li>
                        <li>Canada</li>
                        <li>Mexico</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#panel-body-3" data-toggle="collapse" data-parent="#accordian">
                    ASIA
                    </a>
                </h4>
            </div>
            <div id="panel-body-3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>USA</li>
                        <li>Canada</li>
                        <li>Mexico</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#panel-body-4" data-toggle="collapse" data-parent="#accordian">
                    SOUTH AMERICA
                    </a>
                </h4>
            </div>
            <div id="panel-body-4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>USA</li>
                        <li>Canada</li>
                        <li>Mexico</li>
                    </ul>
                </div>
            </div>
        </div>
        
         <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a href="#panel-body-4" data-toggle="collapse" data-parent="#accordian">
                    AFRICA
                    </a>
                </h4>
            </div>
            <div id="panel-body-4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>USA</li>
                        <li>Canada</li>
                        <li>Mexico</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>